@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* CSS Externo */


/* Definir as cores Temas Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    
    --cor-texto: #ffffff;
    --menu-link: rgb(255, 255, 255);
    --cor-borda: #f4eeee;
}

:root[data-theme='light'] {
    
    --cor-texto: #ffffff;
    --menu-link: rgb(247, 255, 249);
    --cor-borda: #1b1b1b;

}

/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}





body {
    background: linear-gradient( #ffb2d1, #882177);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTO */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffb2d1;
    border-bottom: 5px var(#f4eeee);
    z-index: 9999;
    position: fixed;
    border-bottom: 1px solid var(--cor-borda);
    padding: .5rem 1rem;
}

.menu-desktop {
    display: none;
    /* esconde o menu desktop */
}

/* NAV = UL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* lI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1rem;

}

/* Menu Hamburger
botao menu mobile ------ */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(#ffffff);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}


.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* ul */
    {
    display: flex;
    flex-direction: column;
    /* * EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
    /* Sentido Horario */

}

.menu-mobile .menu-list .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}


.logo {
    width: 8rem;
    ;
    /* comprimento */
    height: 2rem;
    /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#home {
    padding: 4.0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-family: "EB Garamond", serif;
    font-size: 2.5rem;
}

h2 {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
     font-family: "Playfair Display", serif;
}

.video iframe {
    aspect-ratio: 16/9;
    width: 50%;
}

#home,
.projetos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    margin-top: -10rem;
}

.descricao-video h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: -2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-card {
    width: 60%;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction:column ;
    justify-content:flex-start ;
    align-items:flex-start ;
    gap:1rem ;
}

.card-item i:hover {
    color: #bb0eb5;
    transition: .5s ease-in-out;
}

.redes-sociais {
    font-size: 1.4rem;
}

.redes-sociais .whatsapp:hover {
    color: chartreuse;
    font-size: 2rem;
}

.redes-sociais .github:hover {
     color: #333333;
     font-size: 2rem;
}

.redes-sociais .instagram:hover {
     color: #E1306C;
      font-size: 2rem;
}

.redes-sociais .facebook:hover {
     color: blue;
      font-size: 2rem;
}

.col1 {
    background: #882177;
}

.col2 {
    background:violet;
}

.col3 {
    background:rgb(0, 0, 0);
}

.col4 {
    background: #ff5ae3;
}




/* Medidas Responsivas */

@media (max-width: 768px) {
    #home {
        padding-top: 5rem;
    }
}

@media (min-width: 768px) {

    .menu-desktop {
        display: flex;
        min-width: 30%;
        /* Alinhar a Logo */
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
        /* Alinhar a Logo */
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    #home,
    .projetos,
    .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

/* FIM min 768px */

@media (min-widht: 992px) {
    .projeto-card {
        flex-direction: row;
    }


    .img-card1 {
        width: 55%;

    }

    .img-card2 {
        width: 55%;
    }

    .reserve-card {
        /* Espelhar */
        flex-direction: row-reverse;
    }

    .img-card {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    h2 {
        
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 2.5rem;
    }

    .descricao-video,
    .projetos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }

}